@import "tailwindcss";

@layer base {
  :root {
    --background: #232833;
    --foreground: #dbdce4;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
  }
}

@theme {
  --color-primary: #232833;
  --color-secondary: #1b1f27;
  --color-light-secondary: #252830;
}

.animate-gradient-bg {
  background-size: 400% 400%;
  animation: gradient-animation 2s ease infinite alternate;
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.prediction-box {
  animation: prediction-box-animation 0.5s forwards;
}

.close {
  animation: close 0.5s forwards;
}

@keyframes prediction-box-animation {
  0%{
    width: 0rem;
    font-size: 0;
  }
  100% {
    width: 7.5rem;
    font-size: 3.5rem;
  }
}

@keyframes close {
  0% {
    width: 7.5rem;
    font-size: 3.5rem;
  }
  100% {
    width: 0;
    font-size: 0;
  }
}